header {
    display: flex;  
    justify-content: center; 
    border: 1rem solid rgb(5, 1, 58); 
}

#pecesimage {
    border: 1rem; 
} 
nav {
    border: 1rem solid rgb(15, 125, 199);    
}
.cocaloca {
    border: 1rem solid rgb(11, 13, 14);    
}
.altura {
    height: 10rem;
} 
.vinotinto {
    border: 1rem solid rgb(236, 176, 9);
    height: 1rem;    
}
aside {
    border: 1rem solid rgb(41, 3, 41);    
}
main {
    border: 1rem solid rgb(231, 119, 152);    
}
footer {
    border: 1rem solid rgb(103, 172, 24);    
}
header img{
    height: 5rem; 
    width: 5rem;
    border-radius: 50%;
}
