body{
    padding: o;
    margin: 0;
    background: rgb(165, 167, 167);
}


#generalContainer {
    height: 100vh;
    display: grid;
    gap: 1rem;

    grid-template:
    "nav aside header" 5rem
    "nav aside main" auto
    "nav aside footer" 4rem /
    8rem 12rem auto;
}


header {
    grid-area: header;
    display: flex;  
    justify-content: right; 
    border: 1rem solid rgb(104, 142, 125);
    background: rgb(246, 243, 243);
}

header img{
    height: 3rem; 
    width: 3rem;
    border-radius: 50%;
}

#pecesimage {
    border: 1rem; 
} 

nav {
    grid-area: nav;
    border: 0.5rem solid rgb(117, 168, 171);
    background: white;   
}

.cocacola {
    /* border: 1rem solid rgb(11, 13, 14); */
}

.altura {
    /* height: 10rem; */
} 

.vinotinto {
    border: 1rem solid rgb(236, 176, 9);
    height: 1rem;    
}

aside {
    grid-area: aside;
    border: 0.5rem solid rgb(63, 70, 76);
    background: white;
}

main {
    grid-area: main;
    border: 0.5rem solid rgb(71, 104, 102);
    background: white; 
}

footer {
    grid-area: footer;
    border: 0.5rem solid rgb(33, 49, 54);
    background: white;  
}
